@import url("https://fonts.googleapis.com/css2?family=Itim&family=Lateef&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of CSS reset */

/*  BEGIN css styling */
* {
	box-sizing: border-box;
	max-width: 100%;
	border: 1px solid blue;
}

html {
	font-size: 62.5%;
}

body {
	color: #212120;
	font-size: 1.6rem;
	line-height: 1.5;
	font-family: "Itim", cursive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Lateef", cursive;
}

a {
	text-decoration: none;
	color: #212120;
	background-color: blue;
	font-size: 2rem;
}

section {
	padding: 4% 0;
}
.container {
	width: auto;
	margin: 0 auto;
}
/* End general styling */

/* Begin Header Styling */
.head {
	display: flex;
}
.head {
	background-image: url(https://media-exp1.licdn.com/dms/image/C4D12AQH7HkOmJHWgSg/article-cover_image-shrink_720_1280/0?e=1600905600&v=beta&t=HanFhxs6l8j4EJORM3-xnr7Y6BxUA_kdpotXqPg7f60);
	width: 100%;
	background-repeat: repeat;
}
.nav {
	display: flex;
	padding: 2%;
	width: 100%;
}

.nav,
a {
	justify-content: space-between;
	margin: 0% auto;
}
nav a {
	color: white;
	background-color: blue;
	margin: 2%;
}

/* Begin Top-Content Styling */

#top-container {
	background-image: url(https://images.unsplash.com/photo-1533659124865-d6072dc035e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
	background-repeat: repeat;
	display: flex;
	justify-content: center;
	margin-top: 2%;
}
.top-text a {
	display: flex;
	align-items: center;
	color: white;
	padding-top: 2%;
	padding-bottom: 2%;
	margin: 2% 0;
}
/* Begin Middle-Content Styling */

/* Begin Main-Content Styling */
