@import url("https://fonts.googleapis.com/css2?family=Itim&family=Lateef&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of CSS reset */

/*  BEGIN css styling */
* {
	box-sizing: border-box;
	max-width: 100%;
	/* border: 1px solid grey; */
	background-color: rgb(131, 131, 131);
}

html {
	font-size: 62.5%;
}

body {
	color: #212120;
	font-size: 1.6rem;
	line-height: 1.5;
	font-family: "Itim", cursive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Lateef", cursive;
}

a {
	text-decoration: none;
	color: #212120;
	background-color: rgb(227, 236, 245);
	font-size: 2rem;
}

section {
	padding: 4% 0;
}
.container {
	/* max-width: 800px; */
	margin: auto;
	background-color: rgb(122, 118, 113);
}
/* End general styling */

/* Begin Header Styling */
#head {
	display: flex;
	justify-content: space-around;
}
.nav-container {
	background-image: url(https://media-exp1.licdn.com/dms/image/C4D12AQH7HkOmJHWgSg/article-cover_image-shrink_720_1280/0?e=1600905600&v=beta&t=HanFhxs6l8j4EJORM3-xnr7Y6BxUA_kdpotXqPg7f60);
	
	display:flex;
	 max-width: 100%;
	/* height: auto;
	background-repeat: repeat; */
}
.nav {
	display: flex;
	padding: 2%;
	width: 100%;
}

.nav,
a {
	justify-content: space-between;
	margin: 0% auto;
}
nav a {
	color: black;
	background-color: slategrey;
	margin: 1%;
	text-align: center;
}

/* Begin Top-Content Styling */

#top-container {
	background-image: url(https://images.unsplash.com/photo-1533659124865-d6072dc035e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);

	background-repeat: repeat;
	display: flex;
	justify-content: center;
	margin-top: 2%;
	width: 100%;
}
.top-text {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	padding-top: 2%;
	padding-bottom: 2%;
	margin: 2% 0;
}
/* Begin Middle-Content Styling */

.middle-content {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.links,
a {
	display: flex;
	color: indigo;
	background-color: slategray;
	width: 40%;
	margin: 2%;
	padding: 2%;
	display: flex;
	flex-flow: column;
	border: 1px solid black;
}
.links a:hover {
	background-color: white;
}
.image-container {
	display: flex;
	justify-content: center;
}
/* Begin Main-Content Styling */
h2 {
	text-align: center;
	font-size: 4rem;
	color: indigo;
	background-color: slategrey;
}

#main-content {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
}

.pic {
	max-width: 50%;
	height: auto;
	padding: 1rem;
	object-fit: contain;
	/* border: 2px solid red; */
}

.pic-text {
	display: flex;
	justify-content: center;
	padding: 0 6%;
	margin: 0 2%;
	/* border: 1px solid black; */
}

/* .pic-text:hover {
	background-color: white;
 } */

/* Begin Footer Styling */
footer {
	display: flex;
	justify-content: center;
}

footer nav {
	display: flex;
	padding: 2%;
	width: 100%;
}

/* BEGIN ABOUT PAGE STYLING */

/* About Header */
.nav-container {
	background-image: url(https://media-exp1.licdn.com/dms/image/C4D12AQH7HkOmJHWgSg/article-cover_image-shrink_720_1280/0?e=1600905600&v=beta&t=HanFhxs6l8j4EJORM3-xnr7Y6BxUA_kdpotXqPg7f60);

	width: 100%
	height: auto;
	background-repeat: repeat;
}
.top-nav {
	display: flex;
	justify-content: center;
	padding: 2%;
	width: 100%;
}

/* About Main Content */
h1 {
	font-size: 6rem;
	text-align: center;
}

.main content about {
	display: flex;
	width: 30%;
}
.container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.aboutPics {
	text-align: flex-start;
	width: 40%;
	padding: 1rem 1rem;
	margin: 1rem 1rem;
	background-color: darkslategrey;
}
.aboutText {
	color: black;
	font-size: 2rem;
}

/* About Footer */
footer {
	background-color: rgb(14, 120, 212);
}

/* BEGIN MEDIA QUERIES */

@media (max-width: 800px) {
}

@media (max-width: 500px) {
	/* main page 500 */
	head nav {
		display: flex;
		flex-direction: column;
	}
	.links,
	a {
		border: none;
	}

	#main-content {
		display: flex;
		flex-direction: column;
		align-content: center;
	}

	/* About page 500 */
	.headAbout {
		display: flex;
		flex-flow: column;
	}
	.top -nav {
		background-color: yellow;
	}
	.container {
		display: flex;
		flex-direction: column;
	}
	.aboutPics {
		text-align: center;
		width: 100%;
		padding: 1rem 1rem;
		margin: 1rem 1rem;
		background-color: darkslategrey;
	}
	.pic {
		display: flex;
		flex-flow: column wrap;
	}
}
